  <!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
  </ul>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Jai Enterprises</a>
      <ul class="right hide-on-med-and-down">
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Products<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="#!">Career</a></li>
        {% if user.is_authenticated %}
          <li><a href="/account">{{user.username}}</a></li>
          <li><a href="/logout">Logout</a></li>
        {% else %}
          <li><a href="/register">Register</a></li>
          <li><a href="/login">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>


<!--

  <div id="header">
    <a href="index.html"><img src="images/logo1" alt="Image"></a>
    <div>
      <ul>
        <li class="current">
          <a href="index.html">Home</a>
        </li>
        <li>
          <a href="about.html">About Us</a>
        </li>
        <li>
          <a href="products.html">Products</a>
        </li>
        <li>
          <a href="services.html">Services</a>
        </li>
        <li>
          <a href="contact.html">Contact</a>
        </li>
      </ul>
      <form action="index.html">
        <input type="text" id="search" value="Enter Keyword or item #">
        <input type="submit" value="Search" id="searchbtn">
      </form>
    </div>
  </div>

  -->